/* fonts */
html {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

dd,
dt{
    margin-inline-start: 0;
    line-height: 2;
}
/* style */
body {
    background-color: #fff5e7;
}

.weatherJournalCard {
    border-color: transparent;
    border-radius: 5px;   
}

.cityName__input {
    display: block;
    background-color: white;
    height: 30px;
    width: 230px;
    font-size: 16px;
    padding-left: 5px;
    border:lightgrey solid;
    border-radius: 5px;
}

.generate__btn {
    font-size: inherit;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ff8c00;
    color: black;
    border: #ee8c00 solid;
    cursor: pointer;
    transition: border .2s;
}

@media (hover:hover){
    .generate__btn:hover {
        background-color: #ef8c00;
    }
}

.generate__btn:active {
    background-color: #ef8c00;
}

dt {
    font-weight: bold;
}

.dataCollected--animate1 {
    opacity: 1;
    transition: all .2s;
}

.dataCollected--animate2 {
    opacity: 0;
}

.iconsAttribute {
    color: rgb(77, 76, 76);
}

a {
    font-size: inherit;
}

/* layout */
.weatherJournalCard {
    max-width: 500px;
    min-height: 513px;
    margin: auto ;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__hero {
    margin-bottom: 60px;
}

.generate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generate__btn {
    margin: 20px;
    margin-bottom: 10px;
}

.generate__loading--opacity0 {
    opacity: 0;
    margin: 0;
    line-height: 0;
    color: rgb(87, 87, 87);
    transition: opacity .2s;
}

.generate__loading--opacity1 {
    opacity: 1;
    margin: 0;
    line-height: 0;
}

.dataCollected {
    min-width: 300px;
}

dd img {
    margin: 0px 100px;
}

dd[class *= Value] {
    float: right;
    /* 30 is related to line height */
    margin-top: -36px;
}

dd.dataCollected__tempValue {
    float: left;
    position: relative;
    top: 70px;
    left: 70px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10px;
}

/* for tablets and bigger*/
@media only screen and (min-width: 600px){
    body {
        background-color: white;
    }

    .weatherJournalCard {
        background-color: #fff5e7;
        margin-top: 20vh;
    }
}

/* for landscape view */
@media only screen and (orientation: landscape) and (max-height: 450px) {
     body {
        background-color: #fff5e7;
    }

    .weatherJournalCard {
        margin-top: 0px;
    }
}

/* for galaxy fold  */
@media only screen and (max-width:300px) {
    dd img {
        margin: 0 85px
    }

    .dataCollected {
        min-width: 270px;
    }
}