/* fonts */
*:not(h3){
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-inline-start: 0;
}

dd,
dt{
    line-height: 2;
}
/* style */

.weatherJournalCard {
    background-color: #fff5e7;
    border-color: transparent;
    border-radius: 5px;   
}

.cityName__label {
    font-weight: bold;
}

.cityName__input {
    display: block;
    outline: none;
    font-size: 18px;
    background-color: inherit;
    border: lightgrey solid;
    border-width: 0px 0px 3px 0px;
    transition: border-color .3s;
}

.cityName__input:focus {
    border: #ff8c00 solid;
    border-width: 0px 0px 3px 0px;
}

.generate__btn {
    font-size: inherit;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: #ff8c00;
    color: bisque;
    border: #ee8c00 solid 2px;
    outline: 2px solid transparent;
    transition: outline .2s;
}

.generate__btn:hover {
    background-color: #ef8c00;
}

/* for mobile to look as hover state */
.generate__btn:active {
    background-color: #ef8c00;
}

.generate__btn:focus {
    outline: 2px solid black;
}

dt {
    font-weight: bold;
}

.dataCollected--animate1 {
    opacity: 1;
    transition: all .2s;
}

.dataCollected--animate2 {
    opacity: 0;
}

.dataCollected__iconsAttribute {
    color: rgb(77, 76, 76);
}

a {
    font-size: inherit;
}

/* layout */
.weatherJournalCard {
    max-width: 500px;
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.header__hero {
    margin-bottom: 60px;
}

.generate__btn {
    margin: 20px;
    margin-bottom: 10px;
}

.dataCollected {
    min-width: 300px;
}

dd img {
    margin: 0px 100px;
}

dd[class *= Value] {
    float: right;
    /* 30 is related to line height */
    margin-top: -40px;
}

dd.dataCollected__tempValue {
    float: left;
    position: relative;
    top: 70px;
    left: 60px;
}

.dataCollected__iconsAttribute {
    position: absolute;
    bottom: 10px;
    margin-left: 64px;
}