/* fonts */
*{
    font-family:Arial, Helvetica, sans-serif
}

body {
    font-size: 20px;
    line-height: 1.5;
}

.dataCollected {
    line-height: 1;
}

/* style */

.app {
    background-color: #fff5e7;
    border-color: transparent;
    border-radius: 5px;
    box-shadow:
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                100px 100px 80px rgba(0, 0, 0, 0.07)
;
   
}

.cityName__label {
    font-weight: bold;
}

.cityName__input {
    display: block;
    outline: none;
    font-size: 18px;
    background-color: inherit;
    border: lightgrey solid;
    border-width: 0px 0px 3px 0px;
    transition: border-color .3s;
}

.cityName__input:focus {
    border: #ff8c00 solid;
    border-width: 0px 0px 3px 0px;
}

.generate__btn {
    font-size: inherit;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: #ff8c00;
    color: bisque;
    border: #ee8c00 solid 2px;
    outline: 2px solid transparent;
    transition: outline .2s;
}

.generate__btn:hover {
    background-color: #ef8c00;
}

.generate__btn:focus {
    outline: 2px solid black;
}


/* layout */
.app {
    max-width: 500px;
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

h3 {
    margin-bottom: 60px;
}

.generate__btn {
    margin: 20px;
    margin-bottom: 10px;
}

.dataCollected__temp {
    display: flex;
    justify-content: center;
}

.dataCollected__temp .dataCollected__value {
    position: relative;
    top: 40px;
    left: 10px;
}

.dataCollected__content p:not(.dataCollected__temp) {
   min-width: 300px;
}

.dataCollected__value:not(.dataCollected__temp > .dataCollected__value) {
    float: right;
}